<div class="login-container layout-align-center-center layout-column layout-fill">
	<div class="layout-column login-wrapper">
		<mat-toolbar>Login...</mat-toolbar>
		<button mat-button class="google-color"   (click)="authenticate('google')">Google</button>
		<button mat-button class="facebook-color" (click)="authenticate('facebook')">Facebook</button>
		<button mat-button class="twitter-color"  (click)="authenticate('twitter')">Twitter</button>
		<button mat-button class="linkedin-color" (click)="authenticate('linkedin')">LinkedIn</button>
	</div>
</div>

<!-- <script src="https://apis.google.com/js/api.js" ></script> -->