/* .login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
    align-content: center;
  } */
  

.login-wrapper {
    padding: 32px;
    background: #FFF;
    text-align: center;
    display: inline;
    background-color: rgba(40, 40, 40, 0.516);
    border-radius: 3px;
    border: solid 1px grey;
    box-shadow: -8px 8px 18px #313131;
}

.login-header {
	color: white;
    font-family: ubuntu;
    font-size: 48px;
    margin: 0px;
    font-weight: normal;
}

.login-wrapper > button {
	margin: 10px;
	width: 40%;
	color: white;
}	

.facebook-color {
	background-color:  #3b5998;
}

.google-color {
	background-color:  #ea473c;
}

.linkedin-color {
	background-color:  #0077B5;
}

.twitter-color {
	background-color:  #0084b4;
}

.login-button {
	border: 2px solid #fff;
	box-shadow: -2px 3px 4px #000;
}