/* .login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
    align-content: center;
  } */
  

.login-wrapper {
	/* width: 384px; */
    /* max-width: 384px; */
    padding: 32px;
    background: #FFF;
	text-align: center;
	display: inline;
	border-radius: 3px;
}

.login-wrapper > button {
	margin: 10px;
	width: 40%;
	color: white;
}	

.facebook-color {
	background-color:  #3b5998;
}

.google-color {
	background-color:  #ea473c;
}

.linkedin-color {
	background-color:  #0077B5;
}

.twitter-color {
	background-color:  #0084b4;
}